{% extends 'base.html.twig' %}

{% block title %}Mini Shop: Détail utilisateur{% endblock %}

{% block body %}
    <h1>Détail Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.LastName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">Retour à la liste</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">Editer</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
